.gradBg {
  height: 100vh;
  width: 100vw;
  background-color: #FFE0B1;
}

.gradDark1 {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(100% 40% at 0% 0%, #FF940C 0%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: overlay;
}

/* background:
radial-gradient(94.79% 34.69% at 5.21% -10.03%, #FF940C 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%),
radial-gradient(37.11% 19.24% at 87.15% 2.05%, #FFD248 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%);
radial-gradient(37.11% 19.24% at 87.15% 2.05%, #FFD248 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%),
radial-gradient(43.72% 34.09% at 84.17% 98.69%, #FFD248 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%),
radial-gradient(23.68% 70.91% at 12.26% 97.77%, #FFD248 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%),
radial-gradient(28.74% 34.36% at 43.09% 44.15%, #FFD248 0%, #FF9111 0.01%, rgba(0, 0, 0, 0) 100%),
radial-gradient(53.96% 83.29% at 53.99% 121.94%, #FFFFFF 0%, #FF9111 0.01%, rgba(255, 255, 255, 0) 100%),
radial-gradient(35.59% 106.58% at 88.82% 50.07%, #FFFFFF 0%, #FF9111 0.01%, rgba(255, 255, 255, 0) 100%),
radial-gradient(50.76% 105.76% at 12.74% 50.07%, #FFFFFF 0%, #FF9111 0.01%, rgba(255, 255, 255, 0) 100%),
radial-gradient(33.79% 58.08% at 43.19% 20.7%, #FFFFFF 0%, #FF9111 0.01%, rgba(255, 255, 255, 0) 100%),
background-blend-mode: overlay, overlay, overlay, overlay, overlay, normal, normal, normal, normal, normal;
#FFE0B1; */

/* Resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}